{% set page_title = _('Page Not Found :(') %}
{% extends "layouts/error.html" %}
{% block container %}
<div class="container">
    <h1>Not found <span>:(</span></h1>
    <p>{% trans %}Sorry, but the page you were trying to view does not exist.{% endtrans %}</p>
    <p>{% trans %}It looks like this was the result of either:{% endtrans %}</p>
    <ul>
        <li>{% trans %}a mistyped address{% endtrans %}</li>
        <li>{% trans %}an out-of-date link{% endtrans %}</li>
    </ul>
    <script>
        var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),GOOG_FIXURL_SITE = location.host;
    </script>
    <script src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
</div>
{% endblock %}