{% set page_title = 'Password Change Done' %}
{% extends "layouts/emails/email_transactional.html" %}
{% block content %}
<p><strong>Forgot your password, {{ username }}?</strong></p>

<p>{{ config['APP_NAME'] }} received a request to reset the password for your account ({{ username }}).</p>

<p>If you want to reset your password, click on the link below (or copy and paste the URL into your browser): <a href="{{ change_password_url }}">{{ change_password_url }}</a></p>

<p>If you don't want to reset your password, please ignore this message. Your password will not be reset. If you have any concerns, please contact us at {{ config['APP_NAME'] }} Support.</p>

<p>The {{ config['APP_NAME'] }} Team</p>
{% endblock%}